body
{
background-color:#303030;
color:#ffffff;
font-family: 'Lato', sans-serif;
font-size:20px;
}

#container
{
width:1280px;
margin-left:auto;
margin-right:auto;
}

.rectangle
{
width:1240px;
margin:20px;
}

.square
{
width:50%;
float:left;
}


.log
{
width: 100%;
height: 50%;
text-align:center;
margin-top:300px;

}


#logo
{
float:left;
font-family: 'Josefin Sans', sans-serif;
font-size:70px;
width:780px;
margin-top:10px;
margin-bottom:10px;
}



.tile1
{
margin:10px;
width:300px;
height:179px;
float:left;
background-color:#3095d3;
text-align:center;
}
.tile1:hover
{
background-color:#2084c2;
}


.tile2
{
margin:10px;
width:300px;
height:179px;
float:left;
background-color:#90ff10;
text-align:center;
}
.tile2:hover
{
background-color:#80ee00;
}


.tile3
{
margin:10px;
width:300px;
height:179px;
float:left;
background-color:#506060;
text-align:center;
}
.tile3:hover
{
background-color:#405050;
}

.tile4
{
margin:10px;
width:620px;
height:179px;
text-align:center;
background-color:#ff9000;
}
.tile4:hover
{
background-color:#ee8000;
}

.tile5
{
margin:10px;
width:620px;
height:378px;
text-align:center;
font-family: 'Lato', sans-serif;
background-color:#777777;
}


.tile6
{
margin-top:20px;
margin-left:10px;
text-align:center;
width:620px;
height:179px;
background-color:#889d00;
font-family: 'Lato', sans-serif;
}
.tile6:hover
{
background-color:#778c00;
}



.footer
{
font-family: 'Josefin Sans', sans-serif;
text-align:center;

}

.tools1
{
margin:10px;
width:100px;
height:80px;
float:left;
background-color:#777777;
text-align:center;

}
.tools1:hover
{
background-color:#555555;
}

.tools2
{
margin:10px;
float:left;
width:100px;
height:80px;
text-align:center;
background-color:#777777;
}
.tools2:hover
{
background-color:#555555;
}

a.transfer
{
color:#ffffff;
text-decoration: none;
display:block;
width:300px;
height:179px;
}

a.transfer2
{
color:#ffffff;
text-decoration: none;
display:block;
width:620px;
height:179px;
}


a.transfer_login_out
{

color:#ffffff;
text-decoration: none;

}

.login_out
{
float:left;
font-family: 'Josefin Sans', sans-serif;
font-size:20px;
margin-left:210px;
margin-top:50px;
margin-bottom:10px;
}


input[type=submit], a.button {
    font-weight:bold;
    background:#12c064;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase;
}