{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static "css/main.css" %}" rel="stylesheet">
</head>
<body>

<div class="log">

    <h3>Witaj w panelu głównym {{ request.user.first_name }} !</h3>
    <a href ="{% url "main_website:logout" %}" class="transfer_login_out">Wyloguj</a>
    <br>
    <a href ="{% url "main_website:password_change" %}" class="transfer_login_out">Zmień hasło użytkownika</a>
    </br>
</div>
</body>
</html>